<h1>Moodle test web service</h1>
<% if @message.nil? %>
<p>
  <b>Search all users: </b>
<br>
  <i>Array: <%= @users%></i>
</p>

<p>
  <b>Authenthicated User  : </b>
<br>
  <i>Array: <%= @user%></i>
</p>

<p>
  <b>Search courses User (5) :</b>
<br>
  <i>Array: <%= @courses%></i>
</p>

<p>
  <b>Search users of courses (5) : </b>
<br>
  <i>Array: <%= @course_users%></i>
</p>

<% else %>

<h3><%= @message %></h3>

<% end %>
